{% extends 'base.html' %}

{% load static %}

{% block title %}
    Buscar usuario por criterios
{% endblock %}

{% block content %}

    <h1>Búsqueda de usuarios por criterios</h1>
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="GET" action="{% url 'buscar_usuarios_parametros' %}">
        <label for="">Criterio de Búsqueda:</label>
        <select name="criterio" id="">
            <option value="documento">Número de documento</option>
            <option value="nombre">Nombre</option>
            <option value="apellido">Apellido</option>
            <option value="correo">Correo</option>
            <option value="activos">Usuarios Activos en Sistema</option>
            <option value="inactivos">Usuarios Inactivos en Sistema</option>
        </select>
        <label for="">Escriba el dato a buscar:</label>
        <input type="text" name="a_buscar" value="{{ request.GET.a_buscar }}" placeholder="Escriba el criterio de búsqueda">
        <button type="submit">Buscar Usuarios</button>
    </form>

    {% if usuarios is not None %}
        {% if usuarios %}
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Documento</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th>Rol</th>
                        <th>Activo en sistema</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in usuarios %}
                        <tr>
                            <td>{{ u.id }}</td>
                            <td>{{ u.num_doc }}</td>
                            <td>{{ u.first_name }}</td>
                            <td>{{ u.last_name }}</td>
                            <td>{{ u.email }}</td>
                            <td>{{ u.rol }}</td>
                            <td>{{ u.is_active }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endif %}
{% endblock %}