{% extends 'base.html' %}

{% load static %}

{% block title %}
    Gestionar usuarios activos
{% endblock %}

{% block content %}

    <h1>Buscar usuario por documento de identidad</h1>
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="GET" action="{% url 'gestionar_usuario' %}"> <!--Método GET recomendado para solicitar datos del servidor-->
        <!--GET a diferencia de POST no modifica datos en el servidor y no necesita un token-->
        <input type="number" name="documento" value="{{ request.GET.documento }}" placeholder="Escriba el documento de identidad:">
        <button type="submit">Buscar Usuario</button>
    </form>

    {% if usuario is not None %}
    <h3>Usuario encontrado:</h3>
    {% if usuario %}
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Rol</th>
                    <th>Activo en sistema</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.first_name }}</td>
                    <td>{{ usuario.last_name }}</td>
                    <td>{{ usuario.rol }}</td>
                    <td>{{ usuario.is_active }}</td>
                    <td>
                        {% if usuario.is_active %}
                            <form method="post" action="{% url 'activar_usuario' usuario.id %}">
                                {% csrf_token %}
                                <a href="{% url 'activar_usuario' usuario.id %}" onclick="return confirm('¿Desea Desactivar este usuario?')">Desactivar</a>
                            </form>
                        {% else %}
                            <form method="post" action="{% url 'activar_usuario' usuario.id %}">
                                {% csrf_token %}
                                <a href="{% url 'activar_usuario' usuario.id %}" onclick="return confirm('¿Desea Activar este usuario?')">Activar</a>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    {% else %}
        <p>No se encontró un registro. Verifique de nuevo.</p>
    {% endif %}
{% endif %}
{% endblock %}