{% extends 'base.html' %}

{% load static %}

{% block title %}
    Listar especialidades médicas
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/formularios.css' %}">
    <table>
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if especialidades %}
                {% for e in especialidades %}
                <tr>
                    <td>{{ e.codigo }}</td>
                    <td>{{ e.nombre }}</td>
                    <td>{{ e.descripcion }}</td>
                    <td>
                        <a href="{% url 'actualizar_especialidad' e.id %}">Actualizar</a>
                        <a href="{% url 'detallar_especialidad' e.id %}">Detalles</a>
                        <a href="{% url 'eliminar_especialidad' e.id %}">Eliminar</a>                        
                    </td>
                </tr>
                {% endfor %}
            {% else %}
            <p>No hay especialidades registradas en el sistema</p>
            {% endif %}
        </tbody>
    </table>
{% endblock %}