{% extends 'base.html' %}

{% load static %}

{% block title %}
    Detalle del Médico
{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>TDI</th>
                <th>Documento</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha nacimiento</th>
                <th>Ciudad</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Imagen</th>
                <th>Otros</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>{{ medico.id }}</td>
                    <td>{{ medico.tipo_doc }}</td>
                    <td>{{ medico.num_doc }}</td>
                    <td>{{ medico.first_name }}</td>
                    <td>{{ medico.last_name }}</td>
                    <td>{{ medico.fecha_nac }}</td>
                    <td>{{ medico.ciudad_res }}</td>
                    <td>{{ medico.direccion }}</td>
                    <td>{{ medico.telefono }}</td>
                    <td>{{ medico.email }}</td>
                    <td>
                        {% if medico.imagen %}
                            <img src="{{ medico.imagen.url }}" alt="Imagen {{ medico.first_name }}" width="150">
                        {% else %}
                            <img src="{% static 'img/default_user.png' %}" alt="Imagen del medico" width="150"> 
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'actualizar_medico' %}">Actualizar</a>
                    </td>
                </tr>
        </tbody>
    </table>
{% endblock %}