<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hay una Cita Médica Agendada</title>
</head>
<body>
    <p>Respetado(a) Dr(a). {{ usuario.first_name }} {{ usuario.last_name }},</p>
    <p>Se ha agendado una nueva cita médica con los siguientes detalles:</p>
    <ul>
        <li><strong>Código de Cita:</strong> {{ cita.codigo }}</li>
        <li><strong>Paciente:</strong> {{ cita.paciente.first_name }} {{ cita.paciente.last_name }}</li>
        <li><strong>Fecha:</strong> {{ cita.fecha|date:"d/m/Y" }}</li>
        <li><strong>Hora:</strong> {{ cita.hora|time:"h:i A" }}</li>
        <li><strong>Ciudad:</strong> {{ cita.ciudad }}</li>
        <li><strong>Sede:</strong> {{ cita.sede }}</li>
        <li><strong>Consultorio:</strong> {{ cita.consultorio }}</li>
    </ul>
    <p>Por favor, revise su agenda.</p>
    <p>Saludos cordiales,</p>
    <p>Citas Médicas - App Web</p>
</body>
</html>
