{% extends 'base.html' %}

{% load static %}

{% block title %}
    Registrar administrador de sistema
{% endblock %}

{% block content %}

    <h4>Registrar un administrador de sistema</h4>
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <link rel="stylesheet" href="{% static 'css/formularios.css' %}">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ formulario.as_p }}
        <button type="submit">Registrar Administrador de Sistema</button>
    </form>

{% endblock %}